@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gameBoard {
  @apply flex  overflow-hidden items-center justify-between w-[80vw] h-[80vh]  border-gray-300 border-4 rounded-4xl bg-gradient-to-b from-sky-200 via-sky-100 to-green-100;
}
.deck {
  @apply grid grid-cols-1 gap-3 p-4;
}
.wordCard {
  @apply w-32 h-25 border-4 border-solid rounded-xl border-gray-200 shadow-lg text-center text-gray-600 text-2xl font-semibold cursor-pointer select-none bg-amber-200/70 overflow-hidden hover:border-gray-400;
}
.wordCard__complete {
  @apply flex flex-col w-45 h-55 border-4 border-solid rounded-xl border-gray-300 text-center cursor-pointer select-none bg-white overflow-hidden hover:border-gray-400;
}
.wordCard img {
  @apply w-full h-full object-cover;
}
.wordCard__complete img {
  @apply w-45 h-40 object-cover;
}
.wordCard__complete label {
  @apply mt-3 w-full text-center text-gray-600 text-2xl font-semibold;
}
.wordCard.selected {
  @apply border-blue-500 bg-sky-100;
}
.wordCard.matched {
  @apply bg-emerald-100 border-green-600 cursor-default;
}
.wordCard.wrong {
  @apply bg-red-200 border-red-800;
}
.gameScore__button {
  @apply flex items-center justify-center text-3xl h-full px-4 py-2   bg-amber-400 text-white shadow-gray-400 shadow-md rounded-lg text-green-500  hover:bg-yellow-400;
}
.header {
  @apply text-blue-800 font-bold text-4xl p-5;
}

.game_link_buttons {
  @apply flex items-center justify-center text-center w-90 h-40 m-1.5 bg-amber-400 rounded-4xl border-8 border-gray-200 text-white font-bold text-2xl hover:bg-amber-300;
}
