@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.learnBoard {
  @apply flex flex-col w-full h-full min-w-[360px] min-h-[580px] max-w-3xl px-2.5 sm:px-5 md:px-10 items-center justify-center border-gray-300 border-4 rounded-4xl bg-gradient-to-b from-sky-200 via-sky-100 to-green-100;
}

.gameBoard {
  @apply flex justify-center gap-15 sm:gap-40 md:gap-60 w-full max-w-3xl p-2.5 sm:p-5 md:p-10 border-gray-300 border-4 rounded-4xl bg-gradient-to-b from-sky-200 via-sky-100 to-green-100;
}
.deck {
  @apply inline-grid w-35 sm:w-45  items-center justify-center grid-cols-1 gap-2 sm:gap-3;
}
.wordCard {
  @apply flex self-center justify-center w-35 h-25 sm:w-45 sm:h-35 items-center border-4 border-solid rounded-xl border-gray-200 shadow-lg text-center text-gray-600 text-2xl font-semibold cursor-pointer select-none bg-amber-200/70 overflow-hidden hover:border-gray-400;
}
.wordCard__complete {
  @apply flex flex-col w-full h-full border-4 border-solid rounded-xl border-gray-300 text-center cursor-pointer select-none bg-white overflow-hidden hover:border-gray-400;
}
.wordCard img {
  @apply w-full h-full object-cover;
}
.wordCard__complete img {
  @apply w-full h-3/4 object-cover;
}
.wordCard__complete label {
  @apply my-2 h-[32px] w-full text-center cursor-pointer text-gray-600 text-xl font-semibold;
}
.wordCard.selected {
  @apply border-blue-500 bg-sky-100;
}
.wordCard.matched {
  @apply bg-emerald-100 border-green-600 cursor-default;
}
.wordCard.wrong {
  @apply bg-red-200 border-red-800;
}
.gameScore__button {
  @apply flex items-center justify-center text-3xl h-full px-4 py-2   bg-amber-400 shadow-gray-400 shadow-md rounded-lg text-green-500  hover:bg-yellow-400;
}
.header {
  @apply text-2xl sm:text-3xl md:text-4xl font-extrabold text-gray-600 mb-6 text-center;
}

.game_link_buttons {
  @apply flex items-center justify-center text-center w-full h-40 max-w-90 max-h-40 bg-amber-400 rounded-4xl border-8 border-gray-200 text-white font-bold text-2xl hover:bg-amber-300;
}
