circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 12px;
  stroke-dasharray: 276;
  stroke-dashoffset: 276;
  animation: anim 2s linear forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 96.25;
  }
}
